:root {
    --md-primary-fg-color: #6e0a07;
    --md-accent-fg-color: #696908;
  }
  
  /* Make top navigation tabs white */
  .md-tabs__link {
    color: #ffffff !important;
  }
  
  /* Optionally style the active tab differently */
  .md-tabs__link--active {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  /* Style the hover state */
  .md-tabs__link:hover {
    color: #ffffff !important;
  }